body{
    background-color:#f1d4d4;
    color: #142a5a;
}

.thumbnail img{
    width: 100%;
}

.thumbnail .caption-full{
    padding: 9px; 
}

.caption h4{
    color: #142a5a;
}

.thumbnail{
    color: #142a5a;
}

a{
    color: #5cb3c3;
}

.btn-success{
    background-color: #5cb3c3;
    border-color: #5cb3c3;
}

.btn-lg{
    background-color: #5cb3c3;
    border-color: #5cb3c3;
}
