<%include  partials/header%>

<h1>SIGN UP</h1>

<form action="/register" method="post">
    <input type="test" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign up</button>
</form>

<%include partials/footer%>
