<%include ../partials/header%>

    <div class="container">
        <header class="jumbotron">
                <div class="container">
                        <h1>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="60" height="60"
                        viewBox="0 0 172 172"
                        style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#5cb3c3"><path d="M137.31333,86c11.3692,-7.44187 15.1532,-22.48613 8.2732,-34.4c-6.88,-11.91387 -21.79813,-16.16227 -33.92987,-10.03907c-0.76253,-13.56507 -11.9024,-24.36093 -25.65667,-24.36093c-13.75427,0 -24.89413,10.79587 -25.65667,24.36093c-12.126,-6.1232 -27.04987,-1.8748 -33.92413,10.03907c-6.88,11.91387 -3.096,26.95813 8.2732,34.4c-11.3692,7.44187 -15.1532,22.48613 -8.2732,34.4c6.88,11.91387 21.79813,16.16227 33.92987,10.03333c0.7568,13.5708 11.89667,24.36667 25.65093,24.36667c13.75427,0 24.89413,-10.79587 25.65667,-24.36667c12.13173,6.1232 27.04987,1.8748 33.92987,-10.03333c6.87427,-11.91387 3.096,-26.95813 -8.2732,-34.4zM108.7728,92.3468c2.752,1.5652 3.7152,5.06827 2.15,7.82027c-1.5652,2.752 -5.06827,3.7152 -7.82027,2.15c-2.752,-1.5652 -17.10253,-16.31707 -17.10253,-16.31707c0,0 5.73333,19.76853 5.73333,22.93333c0,3.1648 -2.56853,5.73333 -5.73333,5.73333c-3.1648,0 -5.73333,-2.56853 -5.73333,-5.73333c0,-3.1648 5.73333,-22.93333 5.73333,-22.93333c0,0 -14.35053,14.75187 -17.10253,16.31707c-2.752,1.5652 -6.25507,0.602 -7.82027,-2.15c-1.5652,-2.752 -0.602,-6.25507 2.15,-7.82027c2.75773,-1.5652 22.7728,-6.3468 22.7728,-6.3468c0,0 -20.01507,-4.7816 -22.7728,-6.3468c-2.752,-1.5652 -3.7152,-5.06827 -2.15,-7.82027c1.5652,-2.752 5.06827,-3.7152 7.82027,-2.15c2.752,1.5652 17.10253,16.31707 17.10253,16.31707c0,0 -5.73333,-19.76853 -5.73333,-22.93333c0,-3.1648 2.56853,-5.73333 5.73333,-5.73333c3.1648,0 5.73333,2.56853 5.73333,5.73333c0,3.1648 -5.73333,22.93333 -5.73333,22.93333c0,0 14.35053,-14.75187 17.10253,-16.31707c2.752,-1.5652 6.25507,-0.602 7.82027,2.15c1.5652,2.752 0.602,6.25507 -2.15,7.82027c-2.75773,1.5652 -22.7728,6.3468 -22.7728,6.3468c0,0 20.01507,4.7816 22.7728,6.3468z"></path></g></g></svg>
                        See all the beauties!
                        </h1>
                        <p>View our hand-picked flowers</p>
                        <p>
                                <a class="btn btn-primary btn-lg" href="/flowertypes/new">Add New Flower</a>
                        </p>
                </div>
        </header>
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
                <% flowertypes.forEach(function(flowertype){%>
                <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                                <img src="<%= flowertype.image %>">
                                <div class="caption">
                                        <h4><%= flowertype.name %></h4>
                                </div>
                                <p>
                                        <a href="/flowertypes/<%= flowertype._id %>" class="btn btn-primary">More Info</a>
                                </p>
                        </div>
                </div>
                <%});%>
        </div>
        
    </div>
    <a style="color:#f1d4d4" href="https://icons8.com/icon/100949/flower">Flower icon by Icons8</a>
<%include ../partials/footer%>
